@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --background-color: #fff;
  --category-heading: #bac8d3;
  --font-color: #121212;
  --card-background: #dae8fc;
  --card-background-hover: #d5e8d4;
  --selected-card: #d5e8d4;
  --select-button-bg1: #f5f5f5;
  --select-button-bg2: #b3b3b3;
  --submit-button-hover1: #d5e8d4;
  --submit-button-hover2: #97d077;
}

/* ○ Submit button background hover: color=#d5e8d4;gradientColor=#97d077 */

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}

* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 1rem 2rem;
}
